

 

<div class="jumbotron">
    <h1 class="display-4">OK, Success!</h1>
    <p class="lead"></p>
    <hr class="my-4">
    <p>已經成功錄入地盤工種</p>
    <a class="btn btn-primary btn-lg" href="/zh-HK/Admin/FoundationData/JobList" role="button">返回工種列表  </a>
</div>
